p {
font-size: 25px;
color: chartreuse;
}
body{
    background-color: lemonchiffon;
}
.test_image_and_result1,.test_image_and_result2,.test_image_and_result3,.test_image_and_result4,.test_image_and_result5,.test_image_and_result6,.test_image_and_result7,.test_image_and_result8,.test_image_and_result9 {
    background-color: grey;
    border-radius: 10px;
    width: 99%;
    margin-bottom: 15px;
    margin-top: 15px;
}
img{
    width: 40%;
}